@import "~styles/style";

.paginationLink {
  margin-right: 10px;
  display: inline-block;
  color: $colorHeaderBackground;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
  }
}