@import "~styles/style";

.input {
  color: $colorTextPrimary;
  border: 1px solid $colorHeaderBackground;
  font: {
    size: $textSizePrimary;
  }
  padding: 4px;
  border-radius: $defaultBorderRadius;
  @media all and (max-width: $breakpointSm) {
    width: 50%;
  }
  &:focus {
    outline: none;
  }
}

.label {
  @media all and (max-width: $breakpointSm) {
    display: none;
  }
}

.error {
  border-color: $colorError;
}