@import "~styles/style";

.button {
  background-color: $colorHeaderBackground;
  color: $colorHeaderText;
  border: 0;
  font: {
    size: $textSizePrimary;
  }
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: $defaultBorderRadius;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}