@import "~styles/style";

.repository {
  padding: $defaultPadding;
  border-bottom: 1px solid $colorHeaderBackground;
  line-height: 1.5em;

  &:last-child {
    border: none;
  }
}

.name {
  font-weight: bold;
}