@import "~styles/style";

.message {
  padding: $defaultPadding;
}

.error {
  margin: $defaultPadding;
  padding: $defaultPadding;
  font: {
    weight: bold;
  }
  color: $colorError;
  background-color: $lightBackground;
  border: 1px solid $errorBorderColor;
  border-radius: 4px;
}
