$colorTextPrimary: #333333;
$colorHeaderBackground: #0052cc;
$colorHeaderText: #ffffff;
$colorError: #a94442;
$lightBackground: #f2dede;
$errorBorderColor: #ebccd1;

$textSizeHeader: 2em;
$textSizePrimary: 1em;

$defaultPadding: 20px;
$defaultBorderRadius: 3px;

$breakpointXs: 0px;
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;