@import "~styles/style";

.header {
  background-color: $colorHeaderBackground;
  padding: $defaultPadding;
}

.headerHeading {
  font-size: $textSizeHeader;
  color: $colorHeaderText;
  padding: 1em 0 0 0;
  margin: 0;
}